*{
    font-family: 'Open Sans', sans-serif;
}

div {
    text-align: justify;
    text-justify: inter-word;
  }

h1,h2 {
    text-align: center;
}

.center {
    margin: auto;
    width: 40%;
    border: 3px solid green;
    padding: 10px;
  }
  iframe{
      width:100%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}